{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container mt-5">
    <h2>Excluir Compra</h2>
    <hr>
    <p class="lead">Você tem certeza de que deseja excluir a compra realizada em: <b>{{ compra.data }}</b> ao fornecedor <b>{{compra.fornecedor.nome}}</b>?</p>
    <form method="post" action="{% url 'excluir_compra' compra.id %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Excluir">
        <a href="{% url 'listar_compras' %}" class="btn btn-primary">Cancelar</a>
    </form>
    
</div>
{% endblock %}
