{% extends 'base.html' %}
{% load static %}

{% block title %}Usuário Logado{% endblock  %}

{% block header %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container justify-content-between">
            <div class="d-flex">
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                    aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <!-- Logo -->
                <a class="navbar-brand">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" width="100">
                </a>
            </div>
            <div class="navbar-nav flex-row d-none d-md-flex">
                <ul class="navbar-nav ms-auto mb-3 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar_fornecedores' %}">Fornecedores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar_clientes' %}">Clientes</a>
                    </li>
                    <li class="nav-item dropdown">   
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Produtos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'nova_compra' %}">Nova Compra</a></li>
                            <li><a class="dropdown-item" href="{% url 'listar_compras' %}">Listar Compras</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'listar_produtos' %}">Listar Produtos</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'listar_categorias' %}">Listar Categorias</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">   
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Estoque
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="">Registrar Entrada</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="">Registrar Saída</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vendas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Relatórios</a>
                    </li>
                    <li class="nav-item dropdown">   
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Funcionários
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'listar_funcionarios' %}"> Listar Funcionarios</a></li>
                            <li><a class="dropdown-item" href="{% url 'cadastrar_gerente' %}">Cadastrar Gerente</a></li>
                            <li><a class="dropdown-item" href="{% url 'cadastrar_vendedor' %}">Cadastrar Vendedor</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar-nav flex-row">
                <ul class="navbar-nav ms-auto mb-3 mb-lg-0">
                    <li class="nav-item dropdown">   
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            {{ request.user.username }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Permissões</a></li>
                            <li><a class="dropdown-item" href="#">Dados do usuário</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock  %}

{% block content %}

{% endblock  %}