{% extends 'base.html' %}
{% load static %}

{% block header %}
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="container d-flex justify-content-between">
        <div class="align-items-center">
            <a href="{% url 'core:home' %}" class="logo d-flex align-items-center">
                <img src="{% static 'assets/img/logo.png' %}" alt="logo sistema">
                <span class="d-none d-lg-block">SigConstruct</span>
            </a>    
        </div>
    </div>

</header>
{% endblock  %}

{% block main %}
<div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Recuperar Senha</h5>
                  
                </div>

                <form method="post" action="{% url 'core:password_reset' %}" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}

                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group has-validation">
                        <input type="text" name="email" class="form-control" id="email" required>
                        <div class="invalid-feedback">Informe um email válido!</div>
                    </div>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Enviar</button>
                </div>
                <div class="col-12">
                    <p class="small mb-0">Lembrou sua senha? <a href="{% url 'core:login' %}">Login</a></p>
                </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
{% endblock  %}