{% extends 'base.html' %}

{% block header %}{% endblock header %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Excluir Produto</h2><hr>
            <p class="lead mb-3">Tem certeza de que deseja excluir o produto <b>"{{ produto.nome }}"</b>?</p>
        </div>
    </div>
    <form method="POST" action="{% url 'excluir_produto' produto.id %}">
        {% csrf_token %}
        <input type="submit" value="Excluir" class="btn btn-danger">
        <a href="{% url 'listar_produtos' %}" class="btn btn-primary">Cancelar</a>
    </form>
</div>
{% endblock %}
