{% extends 'base.html' %}
{% load static %}

{% block header %}{% endblock  %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8">
            <h2>Listar Produtos</h2>
        </div>
        <div class="col-sm-4 text-end">
            <a href="{% url 'logado' %}" class="btn btn-primary btn-sm" style="background-color: #19A7CE; border:none;">Voltar</a> 
        </div>
    </div>
    <hr>
    {% if produtos|length > 0 %}
    <table class="table table-striped mt-5">
        <thead class="thead-light">
            <tr>
                <th>Nome</th>
                <th>Categoria</th>
                <th>Fornecedor</th>
                <th>Preço de Compra</th>
                <th>Preço de Venda</th>
                <th scope="col" class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.categoria }}</td>
                <td>{{ produto.fornecedor }}</td>
                <td>{{ produto.preco_compra }}</td>
                <td>{{ produto.preco_venda }}</td>
                <td class="text-center">
                    <a href="{% url 'editar_produto' produto.id %}" class="btn btn-sm" style="color:#fff;"><i class='bx bxs-edit-alt' style='color:#1e1c1c;' title"editar"></i></a>
                    <a href="{% url 'excluir_produto' produto.id %}" class="btn btn-sm" style="color:#fff;"><i class='bx bx-trash' style='color:#1e1c1c;' title"excluir"></i></a>
                    <a href="{% url 'detalhar_produto' produto.id %}" class="btn btn-sm" style="color:#fff;"><i class='bx bx-low-vision' style='color:#1e1c1c;' title"detalhar"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="text-center mt-5 mb-5 jumbotron">
            <h5>Nenhum <code>Produto</code> cadastrado ainda.</h5></br>
            <a href="{% url 'cadastrar_produto' %}" class="btn btn-primary btn-sm" style="background-color: #87af3c; border:none;">Cadastrar</a>
        </div>
    {% endif %}
    <div class="text-end">
        <a type="submit" href="{% url 'cadastrar_produto' %}" class="btn btn-success" style="background-color: #87af3c; border:none;">Cadastrar</a>
    </div>
</div>
{% endblock %}
