{% extends 'base.html' %}
{% load static %}

{% block header %}{% endblock header %}

{% block content %}
<div class="container mt-5">
    <h3 class="mb-3">Excluir Fornecedor</h3><hr>
    <p class="lead mt-5">Você tem certeza que deseja excluir o Fornecedor "<b>{{ fornecedor.nome }} </b>"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar</button>
        <a href="{% url 'listar_fornecedores' %}" class="btn btn-secondary" style="background-color: #87af3c; border:none;">Cancelar</a>
    </form>
</div>

{% endblock %}