{% extends 'base.html' %}
<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/auth/index">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Usuários</li>
    </ol>
  </nav>
</div>
{% block 'body' %}
<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/auth/index">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Usuários</li>
    </ol>
  </nav>
</div>
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert {{message.tags}}">{{message}}</div>
            {% endfor %}
        {% endif %}
        <form action="{% url 'cadastrar_vendedor' %}" method="POST">{% csrf_token %}
            <br>
            <label>Nome:</label>
            <input type="text" placeholder="Digite seu Nome..." name="nome" class="form-control">
            <br>
            <label>Sobrenome:</label>
            <input type="text" placeholder="Digite seu Sobrenome..." name="sobrenome" class="form-control">
            <br>
            <label>E-mail</label>
            <input type="email" placeholder="Digite seu E-mail..." name="email" class="form-control">
            <br>
            <label>Senha</label>
            <input type="password" placeholder="Digite sua Senha..." name="senha" class="form-control">
            <br>
            <button type="submit" class="btn btn-info">Cadastrar</button>
            


        </form>

        <hr class="bg-hr">

        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Último login</th>
                <th scope="col">Excluir</th>
              </tr>
            </thead>
            <tbody>
                {% for vendedor in vendedores %}
              <tr>
                <th>{{vendedor.first_name}}</th>
                <td>{{vendedor.last_name}}</td>
                <td>{{vendedor.email}}</td>
                <td>{% if not vendedor.last_login %}
                        Primeiro acesso
                    {% else %}
                        {{vendedor.last_login}}
                    {% endif %}

                </td>
                <td><a href="{% url 'excluir_usuario' vendedor.id %}"class="btn btn-danger">EXCLUIR</a></td>
              </tr>
                {% endfor %}
            
            </tbody>
          </table>

    </div>

{% endblock %}