{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre{% endblock  %}

{% block content %}

<div class="p-5 text-center">  
    <p class="lead mt-5">O sistema <strong class="destaque">CONSTRUCT</strong> é uma aplicação web que permite o gerenciamento eficiente das 

        atividades relacionadas à loja de materiais de construção. Os principais módulos incluem cadastro, 
        
        listagem, busca e exclusão de gerentes, vendedores, fornecedores, produtos, clientes, controle de estoque, 
        
        registro de vendas, emissão de nota fiscal e geração de relatórios.</p>
</div>

{% endblock  %}

